/*** 
=============================================
    Breadcrumb style1
=============================================
***/
.breadcrumb-style1 {
    position: relative;
    display: block;
    overflow: hidden;
    /* border-radius: var(--thm-border-radius); */
    border-radius: 0;
    background: rgb(0, 2, 19);
    /* background: linear-gradient(40deg, rgba(0, 2, 19, 1) 25%, rgba(5, 22, 140, 1) 40%,
            rgba(0, 2, 19, 1) 75%); */
    background: linear-gradient(40deg, #fffcdc 25%, #ffeaa5 40%, #fef8c7 75%);
    z-index: 10;
}

.breadcrumb-style1__inner {
    position: relative;
    display: block;
    margin-top: 150px;
}

.breadcrumb-style1-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    /* opacity: 0.15; */
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.breadcrumb-style1 .inner-content {
    position: relative;
    display: block;
    padding: 154px 0px 152px;
    text-align: center;
}

.breadcrumb-style1 .title {
    position: relative;
    display: block;
    margin-bottom: 0px;
    z-index: 1;
}

.breadcrumb-style1 .title h2 {
    color: var(--thm-white);
    font-size: 60px;
    line-height: 1.0em;
    font-weight: 600;
    text-transform: capitalize;
}

.breadcrumb-menu {
    position: absolute;
    left: 0;
    bottom: 32px;
}

.breadcrumb-menu ul {
    position: relative;
    display: flex;
    align-items: center;
}

.breadcrumb-menu ul li {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: var(--thm-body-font-color-2);
    font-size: 18px;
    line-height: 28px;
    font-family: var(--thm-font);
    font-weight: 400;
    text-transform: capitalize;
}

.breadcrumb-menu ul li+li {
    margin-left: 7px;
}

.breadcrumb-menu ul li a {
    color: var(--thm-body-font-color-2);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.breadcrumb-menu ul li a:hover,
.breadcrumb-menu ul li.active {
    color: var(--thm-white);
}

.breadcrumb-menu ul li span {
    color: var(--thm-body-font-color-2);
    font-size: 10px;
    margin-top: 1px;
}